@import "tailwindcss";

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.price-range-input {
  pointer-events: none;
}

.price-range-input::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #111827;
  border-radius: 9999px;
  background: white;
  cursor: pointer;
}

.price-range-input::-moz-range-thumb {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  border: 2px solid #111827;
  border-radius: 9999px;
  background: white;
  cursor: pointer;
}

.price-range-input:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
  opacity: 0.5;
}

.price-range-input:disabled::-moz-range-thumb {
  cursor: not-allowed;
  opacity: 0.5;
}
